
// div containing span element of subtitles
.paraWrapper{
    margin:0 auto;
    margin-top: 20px;
    padding-left: $pad;
    padding-right: $pad;
    @include mediaQry(large){
    max-width: $width;
    }
    @include mediaQry(xlarge){
        max-width: 900px;
    cursor:pointer;
    }
    };

// for subtitles
.hiLightText{
    padding: 2px;
    line-height: 1.5em;
    }