

//style wrapper for video
.vidWrapper{
    display:flex;
    width: 100%;
    @include mediaQry(large){
    align-self:center;
    width: $width;
    }
};
// style video
.vidItem{ 
    
    width: 100vw; 
    height: 50vh;
    @include mediaQry(large){
        width: 80vw;
        height: 50vh;
    }
    }

    .mejs__fullscreen-button > button,
    .mejs__replay > button,
    .mejs__mute > button {
        //background-position: -60px 0;
        background-color:#616e82;
        border: 1px solid #4901a8; 
    }
    
    .mejs__controls{
        background:  #616e82;
        opacity:0.5;
    }
    .mejs__time-rail{
        background:#616e82;
        opacity: 0.5;
    }